*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
#wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 1855px;
}
body{
    background-color: rgb(228, 188, 101);
}
/*-------SNIVY HTML-------*/
.navBar2{
    background-color: rgb(197, 112, 0);
    top: 0%;
    left: 0%;
    right: 0%;
    position: fixed;
}
.nav_link{
    color: rgb(0, 0, 0);
    display: inline-block;
    padding: 1em 2em;
    font-size: 1.3em;
    text-decoration: none;
    margin: 0em 7em;
    text-align: center;
    font-family: "comic sans ms";
}
.nav_link:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(197, 112, 0);
    font-weight: bolder;
    box-shadow: 0px 0px 5px 1px rgb(58, 58, 58);
    font-size: 1.4em;
}
.intro{
    margin: 7em auto;
    border-radius: 3em;
    overflow: hidden;
    position: relative;
    width: 60%;
    right: -15em;
}
img{
    width: 50%;
    display: block;
}
.intro_pg{
    position: absolute;
    top: 80%;
    left: 10%;
    right: 15%;
    text-align: center;
    font-size: 2em;
    color: rgb(139, 82, 6);
    font-weight: 900;
    font-family: "comic sans ms";
    margin-right: 45%;
    background-color: rgb(243, 219, 192);
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
    border: ridge rgb(143, 105, 0) 0.5em;
}
.container{
    width: 100%;
    margin-left: 25%;
}
.tepiginfo{
    border: ridge red 0.5em;
    filter: sepia(40%)
}
.name{
    font-family: "comic sans ms";
    position: absolute;
    left: 49%;
    bottom: 1%;
    font-size: xx-large;
    font-weight: bolder;
}
.name:hover{
    font-family: "algerian";
    color: white;
    text-shadow: 1px 1px 5px black;
    transition: ease-in-out 2s;
}
.number{
    font-family: "comic sans ms";
    position: absolute;
    left: 68%;
    bottom: 2%;
    font-size: x-large;
    font-weight: bolder;
}
.number:hover{
    font-family: "algerian";
    color: white;
    text-shadow: 1px 1px 5px black;
    transition: ease-in-out 2s;
}
.fire{
    font-family: "comic sans ms";
    position: absolute;
    left: 53%;
    bottom: -5%;
    font-size: xx-large;
}
.type{
    width: 2%;
    position: absolute;
    left: 50%;
    top: 98%;
}
.sprite{
    width: 5%;
    position: absolute;
    left: 45.5%;
    top: 106%;
}
.firetype{
    font-family: "comic sans ms";
    position: absolute;
    left: 56.5%;
    bottom: -13%;
    font-size: x-large;
}
.height{
    font-family: "comic sans ms";
    position: absolute;
    left: 61%;
    bottom: -22%;
    font-size: x-large;
    font-weight: bold;
}
.weight{
    font-family: "comic sans ms";
    position: absolute;
    left: 61%;
    bottom: -28%;
    font-size: x-large;
    font-weight: bold;
}
.information{
    font-family: "comic sans ms";
    position: absolute;
    bottom: -49%;
    right: 30%;
    left: 30%;
    font-size: x-large;
    text-align: center;
}
/*-------CARDS-------*/
.container1{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 29%;
    box-shadow: 2px 2px 5px gray;
    border-radius: 0.5em;
    overflow: hidden;
    margin: 2%;
    position: relative;
    background-color: rgb(221, 199, 137);
}
.cardTitle{
    padding: 0.5em 1em;
    color: rgb(97, 70, 19);
    font-family: "comic sans ms";
}
.cardIntro{
    padding: 0.5em 1em;
    color: rgb(100, 100, 100);
    margin-bottom: 5em;
    top: 30%;
    font-family: "comic sans ms";
}
.cardLink{
    position: absolute;
    bottom: 0%;background-color: rgb(141, 92, 0);
    color: rgb(255, 255, 255);
    display: inline-block;
    left: 0%;
    right: 0%;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-family: "comic sans ms";
}
.cardLink:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(175, 105, 0);
    text-decoration: none;
    font-weight: bolder;
}
.pokeball1:hover{
    content: url(images/tepigimg.png);
}
.nav_link:hover{
    font-family: "algerian";
    color: white;
    text-shadow: 1px 1px 5px black;
    transition: ease-in-out 2s;
    font-size: 140%;
}